<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Spring4Demo1PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entities.Artists</class>
    <class>entities.Clients</class>
    <class>entities.Payments</class>
    <class>entities.UsersArtist</class>
    <class>entities.TodoTemplates</class>
    <class>entities.Users</class>
    <class>entities.EventTypes</class>
    <class>entities.Notes</class>
    <class>entities.Events</class>
    <class>entities.Todo</class>
    <class>entities.Company</class>
    <class>entities.Locations</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://jpcloudeu011.nshostserver.net:3306/artminbe_ArtminDB?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="artminbe_ArtAdm"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="@rtMinAdmin"/>
    </properties>
  </persistence-unit>
</persistence>
